/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Background image for home page */
#home-page {
    background-image: url('journey-to-the-west-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Header Styles */
header {
    background-color: rgba(44, 62, 80, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.8);
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

