/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Background image for home page */
#home-page {
    background-image: url('journey-to-the-west-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: rgba(44, 62, 80, 0.8); /* Slightly transparent to see the background */
    color: white;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

